main {
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
}

form div {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 25px;
  padding-bottom: 25px;
}

form > label {
  padding-right: 15px;
}

input {
  border: 3px solid rgb(121, 121, 121);
}

input:focus {
  border: 3px solid black;
}

select {
  border: 3px solid rgb(121, 121, 121);
}

select:focus {
  border: 3px solid black;
}

#furniture-form,
#dvd-form,
#book-form {
  display: none;
  width: 20%;
  padding-top: 25px;
}

span {
  display: block;
  overflow: hidden;
  padding: 0px 4px 0px 6px;
}