.card {
  width: 380px;
  height: 210px;
  border: solid 4px black;
  margin: 17px;
}

input[type="checkbox"] {
  margin: 20px;
  width: 20px;
  height: 20px;
}

.card div {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
